<h2>Welcome to Simple CMS</h2>

<p>This Content Management Systems was designed to host different types of data. Typically a CMS provides a user to add, modify, and remove content without the help or intervention of the application's developer.</p>