<h2>Welcome to Simple CMS</h2>

<p>This Content Management Service was designed to host different types of data. Since it is destined to act as a blog, Administrators can manage content by creating, editing, viewing, and deleting sections through each page through each subject.  </p>